<h1>Welcome to My Recipes App!</h1>

<div id="home-page-links">
  <%= link_to "Sign Up", new_user_registration_path, id: "signup-link" %> <br>
  <%= link_to "Log In", new_user_session_path, id: "regular-login-link" %>
</div>
